body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/6d/8f/8e/6d8f8e43f080fd1a8dc29c8c4967b8ae.gif");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.btn{
  position: relative;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #dc1a28;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #dc1a28;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}


.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.gabe-logo {
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}


body > img {
  margin: 0 10px;
}

img {
  max-height: 300px; 
  padding: 15px;
  max-height: 250px;
  cursor: pointer;
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1.3);
  overflow: hidden;
}


.popup {
  font-family: montserrat;
  font-size: 25px;
  align-content: center;
  border-radius: 5px;
  color: white;
  position: fixed;
  top: 0 ; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  width: 400px;
  height: 190px;
  padding: 15px;
  border: solid 1px #dc1a28;
  background: #000000;
  display: none;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  width:300px;
  
}

.btn2{
  position: relative;
  display: inline-block;
  color: white;
  font-size: 10px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #dc1a28;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.btn2{
  position: relative;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #dc1a28;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn2::before{
  background: #dc1a28;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn3::before{
  width: 0%;
  height: 100%;
}

.btn3:hover::before{
  width: 100%;
}
